
html, body, #home {
	height: 100%;
 
}
body{
  overflow-x: hidden;


}

body, #dizimo {
  
  background-color: black;
 /*background-image: url(FUNDO_SITE.png);*/
   background-repeat: repeat;
   background-size:contain ;
   height: max-content;
    

	font-family: Helvetica,Arial,sans-serif;
}

  img {
    border-style: none
  }
  
  ul,
  ol {
    overflow: hidden
  }
  a:link,
  a:visited {
    text-decoration: none
  }
  
  .sp-grid ul,
  .sp-grid ol {
    padding-left: 20px;
    -webkit-padding-start: 20px;
    list-style-position: outside
  }
  #home{
    padding: 50px;
    background:chocolate;

    
  }
  
  #homemq{
    
    background:chocolate;
  }
  #homemin{
    margin-top: 100px;
    padding: 100px;
    background-image: url(dizimo.png)
   
  }
  #homemin1{
 
    width: 100%;
    height: 100%;
   
  }
  #homemin2{
    margin-top: 20px;
    padding: 100px;
    background:chocolate;
  }

  .menu {
    position: fixed;
  }
  
 
  .center{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40;
    font-weight: bold;
    
  }
  
  
  #sp-wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100%;
    font-size: 10px
  }
  #sp-header {
      position: fixed;
      font-size: 10px
    }
    #sp-header.fixed.sticky {
      z-index: 1
    }
   
    #sp-footer {
      position: relative;
      font-size: 10px
    }
    #sp-nav-links {
      cursor: default;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 100%;
      
      
      

    }
    
    #sp-nav-button {
      width: 30px;
      height: 26px;
      box-sizing: border-box;
      border-top: 3px solid;
      position: center;
      margin: 20px;
      color: #000;
      cursor: pointer;
      display: none;
      z-index: 1
    }
    #sp-bar {
      pointer-events: none
    }
    #sp-bar-social a,
  #sp-bar-text>span {
    pointer-events: all
  }
    
  
  body, html{
    width: 100%;
    height: 100%;
    font-family: Helvetica;
    font-size:30px;
    line-height:1.8;
   
    
    
  }
 
  .wrap {
    /*Ajuste a largura e altura desejadas aqui*/
    width: 1500px;
    height: 780px;

    /*isto fará o elemento video e o .container se adaptarem ao .wrap*/
    position:  center;
}
hr {
  border: 0;
  margin-left: 100px;
  margin-right: 100px;
  border-top: 1px solid white;
}


.wrap > .bg-video > video {
    width: 100%;
}
.container2{
  width: 100%;
  position: relative;
  left: 330px;
 
    
}
.container3{
  width: 100%;
  position: relative;
  left: 330px;
 
    
}
.container4{
  width: 100%;
  position: relative;
  left: 330px;
 
    
}
.container1{
  position: fixed;
  text-align: center;
  align-items: center;
  justify-content: center;
  }
    
.principal{
  
  font-size: 50px;
  color: #FFF;
    }
    
  
 

#sp-header {
    position: relative;
    font-size: 10px
  }
  #sp-header.fixed.sticky {
    z-index: -auto
  }

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	
	background: rgba(0,0,0,0.3);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: white;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255,255,255,0.5);
}
#sp-nav {
    padding:20px;
    box-sizing: border-box;
    order: 5;
    color: transparent;
    background-color: transparent;
    
    text-align: center
}

#sp-nav-links a {
    font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
   padding-left: 25px;
   padding-right: 25px;
   
    
}

#sp-nav-links>ul>li>a:link,
#sp-nav-links>ul>li>a:visited {
    color: transparent;
    
}

#sp-nav-links>ul>li.selected>a:link,
#sp-nav-links>ul>li.selected>a:visited {
    color: transparent
}

#sp-nav-links>ul>li:first-of-type>a {
    border: none
}

#sp-nav-links>ul>li>a:hover {
    color: transparent
}

#sp-nav-button {
    color: transparent;
    order: 1;
    box-shadow: 0 0 0 10px transparent, inset 0 0 0 100px transparent
}

#sp-nav-links>ul>li>ul>li>a:hover {
    color: #FFF;
    background: transparent
}

#sp-nav-links>ul {
      overflow: visible;
      list-style: none;
      pointer-events: auto;
      white-space: nowrap
    }
    #sp-nav-links>ul>li {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      white-space: nowrap;
      margin: 0px 5px
    }
    #sp-nav-links>ul>li>a:link,
  #sp-nav-links>ul>li>a:visited {
    text-decoration: none;
   
  }
  #sp-nav-links>ul>li>ul {
      position: relative;
      
      list-style: none;
      display: none;
      line-height: 2em;
      text-shadow: none;
      z-index: -550;
      margin: 10px;
      padding: 0;
      overflow: visible;
      font-style: normal;
      font-weight: normal;
      color: #0000;
      width: auto;
      right: 0px;
      top: 100%;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2)
    }
    #sp-nav-links>ul>li:hover>ul {
      animation: grow .2s ease-out;
      -webkit-animation: grow .2s ease-out;
      display: block
    }


/* Css da pagina ministerio
-----------------------------*/

 .ministerio{
  font-size: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aqua;
  
}
p{
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:#FFF;
}
.ministeriofundo {
  position: relative;
  font-size: 10px;
	
    background-position: center;
	
}
#sp-headerMim {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo01.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}
#sp-headerDiz {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo01.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}
#sp-headerGms {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo01.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}

#sp-headerContatos {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo01.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}
#sp-headerQuemsomos {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo02.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}
#sp-headerMim1 {
  position: cover;
  height: 400px;
  font-size: 10px;
  background-image: url(dizimo01.png);
  
	background-size:cover;
 
  background-repeat: no-repeat;
  background-position: center;
  
}
#sp-headerMim2 {
  position: cover;
  height: 400px;
  font-size: 10px;

  
}

#sp-headerMim.fixed.sticky {
  z-index: 1
}

/* Css da pagina dizimos e ofertas
-----------------------------*/
#fundo {
 
 margin-top: 50px;
background: "Paginas/imagens/FUNDO_SITE.png";
background-repeat: no-repeat;
  
background-size: cover;
}
#homemd{
    
  background:chocolate;
  margin-top: 25px;
}

.dizimo{
  margin-top: 20px;
  font-size: 25px;
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  
}
#conteudo{
  margin-top: 50px;
}
.h1dizimo{
  color:#fff;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Arial Narrow Bold', sans-serif;
}
.h2dizimo{
  color:#fff;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Arial Narrow Bold', sans-serif;
}
.h3dizimo{
  color:#fff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Arial Narrow Bold', sans-serif;
}
.texto{
  margin-top: 50px;
  margin-left: 10px;
}
ul.sp-nav-links>li>ul {
  position: relative; /* Position relative to the parent */
  list-style: none; /* Remove default list style */
  display: none; /* Hide by default */
  line-height: 2em; /* Set line height */
  text-shadow: none; /* Remove text shadow */
  z-index: -550; /* Set z-index */
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
  overflow: visible; /* Set overflow */
  font-style: normal; /* Set font style */
  font-weight: normal; /* Set font weight */
  color: #0000; /* Set text color */
  width: auto; /* Set width */
  right: 0px; /* Set right position */
  top: 100%; /* Set top position */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
 }


/* Css do menu 
-----------------------------*/

 .dropdown-menu{
  width: 50px;
  font-size: 10px;
height: 100px;
color:white;
border-color: transparent;
background-color: transparent;
align-items: center;
justify-content: center;

}
.submenu {
  background-color: transparent;
color:white;
align-items: center;
justify-content: center;


}
button{
	width: 100px;
	
	margin-bottom: 20px;
	background-color: white;
	color: white;
	border: none;
	border-radius:1px;
	cursor: pointer;
  }

  .sp-button {
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    text-transform: none;
    letter-spacing: 0.02em;
    border: 2px solid;
    border-radius: 0px;
}
.sp-button.fill {
  width: 100%;
}

label {
	font-size: 16px;
	font-weight: normal;
  }
  input, textarea {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	margin-bottom: 20px;
	outline: none !important;
	margin-top: 10px;
  }
  input[type="text"], input[type="email"] {
	border: 1px solid #ccc;
	border-radius: 10px;
  }
  input[type="submit"] {
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  input[type="submit"]:hover {
	background-color: #006495;
  }


